.footer {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0px 30px 0px 30px;

    background-color: var(--SECONDARY-COLOR);
    height: 30px;
}

.logo {
    height: 45%;
}