/* ------------------------------------------------------------------------------------ */
/* CSS RESET DECLARATIONS */
/* ------------------------------------------------------------------------------------ */

:root {
  --PRIMARY-COLOR: #143275;
  --FONT-COLOR: RGB(245,245,245);
  --SECONDARY-COLOR: RGB(245,245,245);
  --MIDDLE-GREY: RGB(214,214,214);
}

/* 1. Use the more robust border-box model for all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Reset margin and padding on all elements */
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

/* 3. Set up the body for a better default experience */
body {
  line-height: 1.5; /* Improves readability */
  -webkit-font-smoothing: antialiased; /* Better font rendering on macOS/iOS */
  font-family: "Shape Sans", Arial, sans-serif;
  min-height: 100vh;
}

/* 4. Improve handling of media elements */
img,
picture,
video,
canvas,
svg {
  display: block; /* Removes baseline spacing issues */
  max-width: 100%; /* Ensures images scale responsively */
}

/* 5. Remove built-in padding on lists and quote elements */
ul, ol, blockquote {
    list-style: none; /* Often helpful for custom list styling */
}

/* 6. Remove text decorations from links */
a {
    text-decoration: none;
    color: inherit;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Allow form inputs to be easily styled */
button, input[type="submit"] {
    cursor: pointer;
    border: none;
    background: none;
}

/* 9. Prevent text overflow */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1, h2, h3 {
  color: var(--PRIMARY-COLOR);
}

/* ------------------------------------------------------------------------------------ */
/* APP.JSX DECLARATIONS */
/* ------------------------------------------------------------------------------------ */

.primary-button {
  fill: var(--PRIMARY-COLOR);
  border: 1px solid var(--PRIMARY-COLOR);
  color: var(--FONT-COLOR);
  border-radius: 8px;
}

.secondary-button {
  border: 1px solid var(--PRIMARY-COLOR);
  margin-right: 20px;
  border-radius: 8px;
  padding: 5px;
}

.secondary-button:hover {
  background-color: var(--PRIMARY-COLOR);
  color: var(--FONT-COLOR);
}